@use 'variaveis';

body{
    background-color: variaveis.$corPrincipal;
}
.container{
    max-width: 1024px;
    text-align: center;    
}

div{
    display: inline-table;
    padding: 16px;
}

h1 {
    color:variaveis.$corTítulo1;
    font-size: 35px;
  }
  
  p {
    color:variaveis.$corParag;
    font-size: 16px;
    font-weight: bold;
    
  }
  
  .container img {
    width: 200px;
    height: 200px;
    
  }
  
  a {
    color: variaveis.$corTextLink;
    text-decoration: none;
  }